fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
alembic
passlib[bcrypt]
pyjwt
slowapi==0.1.9
pypdf==5.6.1
pandas
numpy
rank-bm25
openai
httpx
scikit-learn
joblib
celery
redis
razorpay
reportlab
prometheus-fastapi-instrumentator
sentry-sdk
faiss-cpu
sentence-transformers
python-multipart
PyMuPDF==1.24.9
email-validator==2.2.0
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
google-generativeai